.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transform: rotate(-90deg);

    circle {
        stroke-dashoffset: 0;
        stroke-width: 3%;
        fill: none;
    }

    &Indicator {
        stroke: var(--color-light);
    }

    &Bg {
        stroke: var(--color-light);
        opacity: 0.3;
    }
}