:root {
  --color-dark: #0a0813;
  --color-accent: #cbacf9;
  --color-accent-light: #c1c2d3;
  --color-light: #ffffff;
  --color-grey: #26293c;

  --container-padding-x: 20px;
  --container-width: 1240px;
  --border-radius: 23px;
  --section-block: clamp(3.125rem, 2.5rem + 3.13vw, 6.25rem);

  --header-height: clamp(3.438rem, 3.3rem + 0.69vw, 4.125rem);

  --font-family-base: "Inter", sans-serif;
}
