.header {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(22.5rem, 21.375rem + 5.63vw, 28.125rem);
  background-color: var(--color-dark);
  border-radius: 13px;
  z-index: 100;
  border: 1px solid var(--color-grey);

  @media screen and (max-width: 768px) {
    top: 30px;
  }

  &List {
    min-height: var(--header-height);
    @include flex-center;
    -moz-column-gap: 32px;
    column-gap: 32px;
    position: relative;
  }

  &Item {
    overflow: hidden;
    height: 16px;
  }

  &Link {
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    color: var(--color-accent-light);

    &:hover .headerText {
      transform: translateY(-100%);

      &:last-child {
        color: var(--color-accent);
      }
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  &Text {
    display: block;
    padding-bottom: 1px;
    transition: all 0.5s;
  }
}
